.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--mainTransition);
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart-overlay_transparentBcg {
  visibility: visible;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--mainWhite);
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.cart__close {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart__footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.btn_cart {
  width: 70%;
  margin-bottom: 1rem;
}

.cart__input {
  bottom: 0;
  outline: 0;
  padding: 5px;
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
}
