.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--mainBlack);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 280px;
  background: var(--mainGrey);
  color: var(--primaryColor);
  border-radius: 5px;
}

.modal__text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.modal__btn {
  border: 0;
  outline: 0;
  background: var(--primaryColor);
  color: var(--mainGrey);
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 0 5px 4px 5px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: lighten(#f09d51, 10);
  }
}
